.node {
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
  display: inline-block;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: black;
}

.node-visited {
  background-color: #a0e0ff;
  transition: background-color 0.3s ease;
}

.node-shortest-path {
  background-color: yellow;
  transition: background-color 0.3s ease;
}
